h1{width: 1000px;
    padding-left: 40px;
    padding-top: 32px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(23, 122, 155);
    color: white;
    border: 10px;
    text-align: center;
  }
  h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: red;
    text-align: center;
  }
  h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: red;
    text-decoration: underline;
    text-align: center;
  }
  p{
    margin: 20px;
    border-color: blue;
    border: 5px;
    
  }
  
  body{
    background-color:  black;
    color: purple;
  
  }
    
  footer { margin-inline-start: 200px;
    text-align: center;
  }
  body {
    width:1000px;
  }
  
  .border{
    border-bottom: #000;
    border-top: #000;
    border-left: #000;
    border-right: #000;
    line-height: 4px;
  }
  
  
   nav{ height: 6000px;
width: 200px;
float: left;
padding: 5px;
line-height: 30px;
   }
   img{
    margin-right: 200px;
    height: 500px;
    width: 400px;
   }